<!--
 * @Author: your name
 * @Date: 2021-07-20 13:47:33
 * @LastEditTime: 2021-07-20 13:50:08
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /Node/10_服务器渲染ejs/views/form.ejs
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/doLogin" method="post">
        
        用户名：<input type="text" name="username" />

        <br>
        <br>

         密 码: <input type="password" name="password" />

        <br>
        <br>
        <input type="submit" value="提交">


    </form>
</body>
</html>